<template>
<v-dialog scrollable v-model="showDialog" transition="false" max-width="600px">
  <v-container fluid>  
    <v-card dark color="white">
        <v-card-title class="primary">
          Identification
        </v-card-title>
        <v-card-text dense>
            <v-row dense align="center">
              <v-col cols="12">
                <Editor ref="editor" lineNumbers v-model="identity" height="500px"></Editor>
              </v-col>
            </v-row>
            <v-row dense align="center">
              <v-col cols="12">
                <v-alert v-model="alert" dismissible type="error" dense>
                  {{errorText}} 
                </v-alert>
              </v-col>
            </v-row>
        </v-card-text>
      <v-card-actions dense class="ma-1">
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="cancel" >Cancel</v-btn>
        <v-btn color="primary" @click="save" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</v-dialog>
</template>

<script>


import Editor from '@/components/widgets/Editor'

export default {
  props: {
     value: {
       default: ""
     },
     show: {
        default: false
     },     
     identificaton: String,
  },
  data: () => ({
    identity: "{}\n",
    alert: false,
    errorText: ""
  }),  
  components: {
    Editor,
  },
  computed: {
    showDialog: {
      get () {    
        return this.show
      },
      set (value) {
        this.$emit('update:show', false)         
      }      
    },
  },  
  methods: {
    checkInput() {
      this.alert = false;
      let json = null;
      try {
        json = JSON.parse(this.identity);
      } catch (e) {
        this.alert = true;
        this.errorText = e.toString();
        return false;
      }

      if(json.hasOwnProperty("version") == true) {
        this.alert = true;
        this.errorText = "InvalidPropertyError:The 'version' property is reserved";
        return false;
      }

      if(json.hasOwnProperty("action") == true) {
        this.alert = true;
        this.errorText = "InvalidPropertyError:The 'action' property is reserved";
        return false;
      }

      if(json.hasOwnProperty("actionid") == true) {
        this.alert = true;
        this.errorText = "InvalidPropertyError:The 'actionid' property is reserved";
        return false;
      }


      if(json.hasOwnProperty("classid") == false) {
        this.alert = true;
        this.errorText = "MissingPropertyError: Identification objects needs a 'classid' property ";
        return false;
      }

      if(json.hasOwnProperty("classname") == false) {
        this.alert = true;
        this.errorText = "MissingPropertyError: Identification objects needs a 'classname' property ";
        return false;
      }

      if(json.hasOwnProperty("nodename") == false) {
        this.alert = true;
        this.errorText = "MissingPropertyError: Identification objects needs a 'nodename' property ";
        return false;
      }

      return true;
    },
    cancel () {
        this.identity = this.value;
        this.$emit('update:show', false)
    },
    save () {
      if(this.checkInput() == true) {
        this.$emit('input', this.identity)
        this.$emit('update:show', false)
      }
    }    
  },
  watch: {
    show(newValue) {
        this.identity = this.value;
        this.alert = false;
    }
  },
  mounted () {
    this.identity = this.value;
  }  
}
</script>
