<template>
<v-dialog scrollable v-model="showDialog" transition="false" max-width="600px">
  <v-container fluid>  
    <v-card dark color="white">
        <v-card-title class="primary">
          Logs
        </v-card-title>
        </v-card-title>
        <v-card-text dense>
            <v-row dense align="center">
              <v-col cols="12">
                <Editor ref="editor" lineNumbers v-model="identity" height="500px"></Editor>
              </v-col>
            </v-row>
            <v-row dense align="center">
              <v-col cols="12">
                <v-alert v-model="alert" dismissible type="error" dense>
                  {{errorText}} 
                </v-alert>
              </v-col>
            </v-row>
        </v-card-text>
      <v-card-actions dense class="ma-1">
        <v-spacer></v-spacer>
        <v-btn color="primary" @click="cancel" >Cancel</v-btn>
        <v-btn color="primary" @click="save" >Save</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</v-dialog>
</template>

<script>


import Editor from '@/components/widgets/Editor'

export default {
  props: {
     value: {
       default: ""
     },
     show: {
        default: false
     },     
     identificaton: String,
  },
  data: () => ({
    identity: "{}\n",
    alert: false,
    errorText: ""
  }),  
  components: {
    Editor,
  },
  computed: {
    showDialog: {
      get () {    
        return this.show
      },
      set (value) {
        this.$emit('update:show', false)         
      }      
    },
  },  
  methods: {
    checkInput() {
      this.alert = false;
      let json = null;
      try {
        json = JSON.parse(this.identity);
      } catch (e) {
        this.alert = true;
        this.errorText = e.toString();
        return false;
      }
      for(let i = 0;i < json.length;i++) {
        let l = json[i];
        if(l.hasOwnProperty("logid") == false) {
          this.alert = true;
          this.errorText = "MissingPropertyError: Log entry " + (i+1).toString() + " needs a 'logid' property ";
          return false;
        }
        if(l.hasOwnProperty("logtype") == false) {
          this.alert = true;
          this.errorText = "MissingPropertyError: Log entry " + (i+1).toString() + " needs a 'logtype' property ";
          return false;
        }
        if(l.hasOwnProperty("logtime") == false) {
          this.alert = true;
          this.errorText = "MissingPropertyError: Log entry " + (i+1).toString() + " needs a 'logtime' property ";
          return false;
        }
        if(l.hasOwnProperty("logmessage") == false) {
          this.alert = true;
          this.errorText = "MissingPropertyError: Log entry " + (i+1).toString() + " needs a 'logmessage' property ";
          return false;
        }                        
      }

      return true;
    },
    cancel () {
        this.identity = this.value;
        this.$emit('update:show', false)
    },
    save () {
      if(this.checkInput() == true) {
        this.$emit('input', this.identity)
        this.$emit('update:show', false)
      }
    }    
  },
  watch: {
    show(newValue) {
      this.identity = this.value;
      this.alert = false;

    }
  },
  mounted () {
    this.identity = this.value;
  }  
}
</script>
