<template>
<v-dialog scrollable v-model="showDialog" transition="false" max-width="600px">
  <v-container fluid>  
    <v-card dark color="white">
        <v-card-title class="primary">
          Network log:
        </v-card-title>
        <v-card-text dense>
            <v-row dense align="center">
              <v-col cols="12">
                <NetworkLog ref="editor" readOnly lineNumbers v-model="identity" height="500px"></NetworkLog>
              </v-col>
            </v-row>
            <v-row dense align="center">
              <v-col cols="12">
                <v-alert v-model="alert" dismissible type="error" dense>
                  {{errorText}} 
                </v-alert>
              </v-col>
            </v-row>
        </v-card-text>
      <v-card-actions dense class="ma-1">
        <v-spacer></v-spacer>
        <v-btn color="warning" @click="clear" >Clear</v-btn>
        <v-btn color="primary" @click="ok" >OK</v-btn>
      </v-card-actions>
    </v-card>
  </v-container>
</v-dialog>
</template>

<script>


import NetworkLog from '@/components/widgets/NetworkLog'

export default {
  props: {
     value: {
       default: ""
     },
     show: {
        default: false
     },     
     identificaton: String,
  },
  data: () => ({
    identity: "{}\n",
    alert: false,
    errorText: ""
  }),  
  components: {
    NetworkLog,
  },
  computed: {
    showDialog: {
      get () {    
        return this.show
      },
      set (value) {
        this.$emit('update:show', false)         
      }      
    },
  },  
  methods: {
    ok () {
        this.identity = this.value;
        this.$emit('update:show', false)
    },
    clear () {
        this.$emit('clear')
    }     
  },
  watch: {
    show(newValue) {
      this.identity = this.value;
      this.alert = false;

    }
  },
  mounted () {
    this.identity = this.value;
  }  
}
</script>
