<template>
  <v-container fluid>
    <v-row  dense>
      <v-col cols="12" md="12">
        <v-alert type="success" dense>
          Welcome to the roseguarden node emulator. Here you can test the interaction of doors or other "nodes" with the roseguarden server. 
        </v-alert>
        <v-alert type="warning" dense>
          This emulator run locally in your browser. The requests will send directly by your machine (ip) not from a server.
        </v-alert>
      </v-col>
    </v-row>
    <v-row  dense>

      <v-col cols="12" md="4" >
        <v-card height="50%" >
          <v-card-title>
            <h3>
              Door
            </h3>
          </v-card-title>

          <v-row justify="center" class="fill-height">
            <v-col cols="12" height="100%" justify="center">
              <v-row justify="center" class="fill-height">
                <v-sheet
                  rounded
                  style="border-radius: 30px;"
                  width="350px"
                  :color="(doorOpen == false) ? 'red' : 'green'"
                  height="220px"
                >
                  <v-container fill-height fluid>
                    <v-row align="center" justify="center">
                      <v-icon
                        dark
                        size="120"            
                      >mdi-login</v-icon>
                    </v-row>
                    <v-row align="center" justify="center">
                      <div  v-if="doorOpen" class="dark white--text bold font-weight-bold text-center title">Door is open</div>
                      <div  v-else class="dark white--text bold font-weight-bold text-center title">Door is closed</div>
                    </v-row>                    
                  </v-container>          
                </v-sheet>
              </v-row>              
            </v-col>
          </v-row>    
          
        </v-card>
        <v-card height="50%" style="margin-top: 10px;" >
          <v-card-title>
            <h3>
              RFID
            </h3>
          </v-card-title>

          <v-row justify="center" class="fill-height">
            <v-col cols="12" height="100%" justify="center">
              <v-row justify="center" >
                <v-sheet
                  rounded
                  style="border-radius: 30px;"
                  width="350"
                  color="blue-grey"
                  height="180px"
                  v-on:click="raiseNodeEvent('authenticatorApplied')"
                >
                  <v-container fill-height fluid>
                    <v-row align="center" justify="center">
                      <v-icon
                        dark
                        size="120"            
                      >mdi-nfc-variant</v-icon>
                    </v-row>
                    <v-row align="center" justify="center">
                      <div  class="dark white--text text-center text-center title">Click to apply card</div>
                    </v-row>
                  </v-container>          
                </v-sheet>                
              </v-row>
              <v-row  justify="center"> 
                <v-col cols="6" height="100%" justify="center">
                  <v-combobox
                    v-model="rfid_selected"
                    :items="rfid_templates"
                    outlined
                    hide-no-data
                    single-line
                    dense
                    item-text="name"
                    item-value="value"                    
                    label="RFID"/>
                </v-col>                
              </v-row>          
            </v-col>
          </v-row>    
        </v-card>

      </v-col>

      <v-col cols="12" md="4">
        <v-card height="100%" min-height="800px">
          <v-card-title>
            <h3>
              Display
            </h3>
          </v-card-title>

          <v-row justify="center" class="fill-height">
            <v-col cols="12" height="100%" justify="center">
              <v-row justify="center" class="fill-height">
                <v-sheet
                  rounded
                  class="DisplayBorder"
                  width="80%"
                  height="80%"
                  outlined
                >
                  <StartScreen v-show="activeScreen === 'start'" :connectionStatus="connectionStatus" :request.sync="requestMode"></StartScreen>
                  <InfoScreen v-show="activeScreen === 'info'" @ok="raiseNodeEvent('infoOK')" :title.sync="infoTitle" :message.sync="infoMessage"></InfoScreen>
                  <PinScreen v-show="activeScreen === 'pin'" @cancel="raiseNodeEvent('pinCancel')" :pin.sync="pin"></PinScreen>
                </v-sheet>
              </v-row>              
            </v-col>
          </v-row>           
        </v-card>
      </v-col>
      <v-col cols="12" md="4">
        <v-card height="100%" grid-list-md>   
          <v-card-title>
            <h3>
              Actions
            </h3>
          </v-card-title>

          <v-subheader dense>Server</v-subheader>

          <v-row justify="center" dense>
            <v-col cols="10">
              <v-text-field dense label="Server url" suffix="/api/v1/nodes" placeholder="Server url" v-model="serverUrl"></v-text-field>
            </v-col>
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="6">
              <v-btn small width="100%" @click="selectLocalhost" >Use localhost</v-btn>
            </v-col>
          </v-row>

          <v-subheader>Node</v-subheader>

          <v-row justify="center" dense>
            <v-col cols="10">
              <v-text-field dense  small label="Fingerprint:" placeholder="Node fingerprint" v-model="nodeFingerprint"></v-text-field>
            </v-col>
            <v-col cols="10">
              <v-text-field dense label="Authentification:" placeholder="Authentification key" v-model="nodeAuthKey"></v-text-field>
            </v-col>
          </v-row>

          <IdentificationDialog v-model="identityRaw" :show.sync="showIdentificationDialog" />
          <v-row  dense>
            <v-col cols="1"/>               
            <v-col cols="10" lg="2">            
              <v-btn small width="100%" @click.stop="showIdentificationDialog=true">
                Identity
                </v-btn>
            </v-col>
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="1" class="hidden-md-and-up"/>               

            <v-col cols="10" lg="8" >                 
              <v-chip
                color="green"
                outlined
                pill
              >
                <v-icon >
                  check
                </v-icon>
                <div  class="ma-2" style="min-width: 280px; text-align: start; justify-content: center;"  >                
                  OK
                </div>
              </v-chip>
            </v-col>
            <!---
            <v-col justify="start" cols="2">
              <v-switch
                v-model="autoReplyIdentification"
                label="Autoreq." 
                disabled  
                small          
                hide-details
                color="indigo"
                style=" margin-top: 0px; font-size: 0.2em;"
              ></v-switch>
            </v-col>
            ---->
          </v-row>

          <SettingsDialog v-model="settingsRaw" :show.sync="showSettingsDialog" />
          <v-row   dense>
            <v-col cols="1"/>               
            <v-col cols="10" lg="2">            
              <v-btn small width="100%" @click.stop="showSettingsDialog=true">
                Settings
                </v-btn>
            </v-col>
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="10" lg="8" >            
              <v-chip
                color="green"
                outlined
                pill
              >
                <v-icon >
                  check
                </v-icon>
                <div  class="ma-2" style="min-width: 280px; text-align: start; justify-content: center;" >                
                  OK
                </div>
              </v-chip>
            </v-col>
            <!---
            <v-col cols="2">
              <v-switch
                v-model="autoReplySettings"
                label="Autoreq." 
                disabled  
                x-small          
                hide-details
                color="indigo"
                style=" margin-top: 0px;"
              ></v-switch>
            </v-col>
              --->                     
          </v-row>

          <LogDialog v-model="logsRaw" :show.sync="showLogDialog" />
          <v-row   dense>
            <v-col cols="1"/>               
            <v-col cols="10" lg="2">            
              <v-btn small width="100%" @click.stop="showLogDialog=true">
                Logs
                </v-btn>
            </v-col>
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="1" class="hidden-md-and-up"/>                
            <v-col cols="10" lg="8" >            
              <v-chip
                color="green"
                outlined
                pill
              >
                <v-icon >
                  check
                </v-icon>
                <div   class="ma-2" style="min-width: 280px; text-align: start; justify-content: center;"  >                
                  {{logcounter}} log entries
                </div>
              </v-chip>
            </v-col>
            <!---
            <v-col cols="2">
              <v-switch
                v-model="autoReplySettings"
                label="Autoresp."   
                x-small          
                hide-details
                color="indigo"
                style=" margin-top: 0px;"
              ></v-switch>
            </v-col>
            ---->  
          </v-row>

          <v-subheader>Control</v-subheader>
 
          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="success" small width="100%" dark @click="connect" >Connect</v-btn>
            </v-col>
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="error" small width="100%" @click="disconnect" dark>Disconnect</v-btn>
            </v-col>
          </v-row>

          <NetworkLogDialog v-model="networkLogsRaw" @clear="networkLogsRaw='';showNetworkDialog=false;" :show.sync="showNetworkDialog" />
          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" @click.stop="showNetworkDialog=true" dark>Network log</v-btn>
            </v-col>
          </v-row>
      
          <v-row justify="center">
            <v-col cols="10">
              <v-alert :type="lastRequestStatus" dense>
                Last request: {{lastRequestDate}} 
              </v-alert>
            </v-col>
          </v-row>

        </v-card>
      </v-col>
             
    </v-row>

  </v-container>
</template>

<script>

  import Vue from 'vue';
  import { codemirror } from 'vue-codemirror';
  import { mapState } from 'vuex';
  import moment from 'moment';

  import Editor from '@/components/widgets/Editor'
  
  // import { GenericNode } from '@/nodes/generic'

  import axios from 'axios';
  import VueAxios from 'vue-axios';
  import * as actionBuilder from '@/generators/generic'
  import * as doorActionBuilder from '@/generators/door'
  import * as Queue from '@/util/queue'
  
  import LogDialog from '~/components/dialogs/logDialog'
  import IdentificationDialog from '~/components/dialogs/identificationDialog'
  import SettingsDialog from '~/components/dialogs/settingsDialog'
  import NetworkLogDialog from '~/components/dialogs/networkLogDialog'
  import PinScreen from '~/components/screens/pin'
  import StartScreen from '~/components/screens/start'
  import InfoScreen from '~/components/screens/info'

Vue.use(VueAxios, axios); 


  export default {
    layout: "dashboard",
    components: {
      Editor,
      LogDialog,
      SettingsDialog,
      IdentificationDialog,
      NetworkLogDialog,
      PinScreen,
      StartScreen,
      InfoScreen,
    },
    data: () => ({
      activeScreen: "start",
      requestMode: "unlock",
      doorOpen: false,
      rfid_selected: "112.123.23.1.91",
      rfid_templates: [
        { 
          name: "Red card [112.123.23.1.91]",
          value: "112.123.23.1.91",
        },
        { 
          name: "Blue card [97.223.54.19.43]",
          value: "97.223.54.19.43",
        },
        { 
          name: "Smartphone TestUser [56.23.87.111.11]",
          value: "56.23.87.111.11",
        },
        { 
          name: "99.102.3.444.202.234",
          value: "99.102.3.444.202.234",
        },

      ],
      pin: "",
      pinEntered: false,
      running: false,
      connectionStatus: 'no',
      stateMachineRunning: false,
      pinRemainingAttempts: 5,
      infoMessage: "Welcome",
      infoTitle: "",
      errorcounter: 0,
      showLogDialog: false,
      showSettingsDialog: false,
      showIdentificationDialog: false,
      showNetworkDialog: false,
      identityRaw: "{\n}\n",
      settingsRaw: "{\n}\n",
      logsRaw: "[\n]",
      serverUrl: "https://roseguarden.fabba.space",
      lastRequestDate: "24-03-2020 09:57:10",
      lastRequestStatus: "info",
      lastReplyDate: "24-03-2020 09:57:10",
      startUpTime: null,
      lastReplyStatus: "info",
      nodeFingerprint: "43:51:43:A1:B5:FC:8B:B7:0A:3A:A9:B1:0F:66:73:A8:73:A8:19:B1",
      nodeAuthKey: "Kol-Bi-Hop-Ban-Gan-To-Sep+129",
      showInfo: false,
      actionCounter: 0,
      uptime: 0,
      info: "The updater finished. Please reload the site.",
      route: 'abc',
      selectedTab: 'tab-1',
      log: 'Loading log ...',
      networkLogsRaw: '',
      pendingLog: '',
      autoReplyIdentification: true,
      autoReplySettings: true,

    }),
    methods: {
      handleNodeEvent(eventname, param) {
        if(eventname === 'pinCancel') {
          this.setActiveScreen('start');
        }
        if(eventname === 'authenticatorApplied') {
          if(this.requestMode === "unlock") {
            let r = new doorActionBuilder.RequestUserAccessActionRequest(null, this.rfid, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorcounter, this.uptime, this.source, this.target);
            this.sendRequest(r.dumps());            
            /*
            if(this.pinRemainingAttempts <= 0) {
              this.activeScreen = "info";
              this.infoTitle = "Your account is locked! <br>";
              this.infoMessage = "Please login to your account to unlock <br>";
              this.pinIsValid = true;
              this.pin = "";
            } else {
              this.activeScreen = "pin";
              this.pin = "";
            }*/
          }
          if(this.requestMode === "userinfo") {
            let r = new doorActionBuilder.RequestUserInfoActionRequest(this.rfid, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorcounter, this.uptime, this.source, this.target);
            this.sendRequest(r.dumps());            
          }
          if(this.requestMode === "cardassign") {
            let r = new doorActionBuilder.RequestAssignCodeActionRequest(this.rfid, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorcounter, this.uptime, this.source, this.target);
            this.sendRequest(r.dumps());            
          }       
        }
        if(eventname === 'updateAssignInfo') {
            this.activeScreen = "info";
            if(param.valid == true) {
              this.infoTitle = "Assign code: <br> <br> " + param.code + " <br> <br>";
              this.infoMessage = "(Please assign at the web interface) <br> <br>";
            } else {
              this.infoTitle = "Unable to assign card! <br> <br>" ;
              this.infoMessage = "(Please try another card) <br> <br>";

            }
            this.pin = "";   
        }
        if(eventname === 'requestPin') {
            this.activeScreen = "pin";
            this.pin = "";          
        }
        
        if(eventname === 'updateUserInfo') {
          this.activeScreen = "info";
          if(param.exist == true) {
              let info = param.info;
              info = info.replace('\r', '').replace('\n','<br>');
              console.log(info);
              this.infoTitle = "User info: <br>";
              this.infoMessage = "<br>" + info;
          } else {
              this.infoTitle = "<br> Not found. <br> <br> <br>";
              this.infoMessage = "";
          }
        }
        if(eventname === 'grandAccess') {
          let info = param.info;
          info = info.replace('\r', '').replace('\n','<br>');
          this.infoTitle = param.message;
          this.infoMessage =  "<br>" +  info;
          this.openTheDoor();
          this.activeScreen = "info";
          this.pinEntered = false;
        }
        if(eventname === 'denyAccess') {
          let info = param.info;
          info = info.replace('\r', '').replace('\n','<br>');
          this.infoTitle = param.message;
          this.infoMessage =  "<br>" +  info;
          this.activeScreen = "info";
          this.pinEntered = false;          
        }
        if(eventname === 'pinComplete') {
          let r = new doorActionBuilder.RequestUserAccessActionRequest(this.pin, this.rfid, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorcounter, this.uptime, this.source, this.target);
          this.sendRequest(r.dumps());
          this.pinEntered = true;
          /*            
          if(param === "111111") {
            if(this.requestMode === "unlock") {
              this.infoTitle = "Unlock! ";
              this.infoMessage = "<br> Remaining access: 3 times <br> Access expires at: 10-20-2020 <br> <br>";
              this.pinIsValid = true;
              this.openTheDoor();
            }
          } else {
              this.pinRemainingAttempts -=1;
              this.infoTitle = "Wrong Pin! <br> <br> Remaining <br> attempts: <br> " + this.pinRemainingAttempts +  " <br> <br>";
              this.infoMessage = ""; 

            this.pinIsValid = false;
          }
          this.setActiveScreen('info');
          */
        }
        if(eventname === 'infoOK') {
          if(this.requestMode === "unlock") {
            if(this.pinEntered == false) {
              this.setActiveScreen('start');
            } else {
              let r = new doorActionBuilder.RequestUserAccessActionRequest(null, this.rfid, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorcounter, this.uptime, this.source, this.target);
              this.sendRequest(r.dumps());            
            }
          } else {
            this.setActiveScreen('start');
          }
          this.requestMode = "unlock";
        }
      },
      handleNodeTimer() {
      },      
      handleServerRequestActions(server_actions) {
        console.log('handleServerActionsRequest', server_actions);
        for (let a of server_actions) {
          console.log(a);
          if(a.action === 'sendIdentification') {
            let r = new actionBuilder.SyncNodeIdentificationActionRequest(this.identityRaw, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorcounter, this.uptime, this.source, this.target);
            this.sendRequest(r.dumps());
          } else {
            console.log("hjhjhj", a.action);
            this.raiseNodeEvent(a.action, a);
          }

        }
      },
      raiseNodeEvent(eventname, param) {
        this.handleNodeEvent(eventname, param);
      },      
      setActiveScreen(screen="start") {
        this.activeScreen = screen;
      },
      openTheDoor() {
        let timeout = 5000;
        this.doorOpen = true;
        let setTimeoutObject = setTimeout(() => {
          this.doorOpen = false;
        }, timeout);        
      },
      updateUptime() {
        if(this.startUpTime !== null) {
            let now = moment();
            var duration = moment.duration(now.diff(this.startUpTime));
            this.uptime = parseInt(duration.asSeconds(), 10);
            console.log(this.uptime);
        }
      },
      connect() {
        this.running = true;

        
        this.startUpTime = moment();
        let a = new actionBuilder.RegisterNodeStartupActionRequest(this.nodeFingerprint, this.nodeAuthKey,  this.actionCounter, this.logcounter, this.errorcounter, this.uptime, this.source, this.target);
        let request =  a.dumps();
        console.log(request)
        this.sendRequest(request);

        console.log("connect");
        if(this.timerObject == null) {
          this.timerObject = setInterval(() => {
            this.handleNodeTimer();
          }, 2000);
        }
      }, 
      disconnect() {
        this.startUpTime = moment();
        this.running = false;
        clearInterval(this.timerObject); 
        this.timerObject = null;
        this.connectionStatus = 'no';
      },
      selectLocalhost() {
        this.serverUrl = "http://127.0.0.1:5000";
      },
      addLog(log, type="INFO", time=null) {
        let logs = JSON.parse(this.logsRaw);
        let l = {};
        l.logid = this.logcounter+1;
        l.logtype = type;
        l.logmessage = log;
        l.logtime = moment().toISOString();
        logs.push(l);
        this.logsRaw = JSON.stringify(logs,null,2);
      },
      initializeSettings() {
        let settings = {};
        settings.updateInterval = 10
        this.settingsRaw = JSON.stringify(settings,null,2);
      },
      initializeIdentity() {
        let ident = {};
        ident.nodename = "Door 1";
        ident.classname = "Door";
        ident.classworkspace = "Access";
        ident.classid = "00:01:AB:EF:19:D8:00:11";
        ident.firmware_version = '0.1.2';
        ident.firmware_compiled_at = "2007-12-22T18:21:01";
        ident.firmware_flashed_at = "2007-12-24T11:31:02";
        ident.hardware_version = '0.1.0';
        this.identityRaw = JSON.stringify(ident,null,2);
      },      
      initializeLogs() {

      },      
      sendRequest(request) {
        let options = {};
        let data= JSON.parse(request);
        let now = new Date();

        this.updateUptime();

        this.lastRequestDate = now.toISOString();
        this.lastRequestStatus = "info";
        this.actionCounter += data.actions.length;
        this.networkLogsRaw += "[NODEREQUEST] @ " + now.toISOString() + "\n" + request + "\n\n";        
        axios
          .post(this.serverUrl + "/api/v1/nodes",  data, options)
          .then(r => r.data)
          .then(reply => {
            let now = new Date();
            this.lastReplyDate = now.toISOString();
            this.lastReplyStatus = "info";
            this.networkLogsRaw += "[SUCCEED]\n" + JSON.stringify(reply,null,2) + "\n\n";
            this.connectionStatus = "ok";
            this.handleServerRequestActions(reply.actions);
          })
          .catch(error => {
            let now = new Date();
            let errorStatus =  null;
            if('response' in error) {
              if(error.response) {
                errorStatus = error.response;
              }
            }
            this.lastReplyDate = now.toISOString();
            this.lastReplyStatus = "error";
            this.networkLogsRaw += "[FAILED] \n   " + error + "\n\n";

            if(errorStatus === null) {
              this.connectionStatus = "no";
            } else {
              console.error("Error response: ", error.response);
              this.connectionStatus = "fail";
            }
          });
      }
    },
    watch: {
      text: function (val) {
        console.log("watch", val);
      },
      pin: function (val) {
        if(val.length == 6) {
          this.raiseNodeEvent("pinComplete", val);
        }
      }
    },
    computed: {
      rfid: function() {
        console.log("-------------", this.rfid_selected);
        if(this.rfid_selected === null) {
          return ""
        }
        if(typeof this.rfid_selected === 'object') {
          return this.rfid_selected.value;
        } else {
          return this.rfid_selected;
        }
      },
      logcounter: function() {
        try {
          let json = JSON.parse(this.logsRaw);
          return json.length;
        } catch(e) {
          return "Failed to parse";
        }
      },
      source: function() {
        try {
          let json = JSON.parse(this.identityRaw);
          return json.nodename;
        } catch(e) {
          return "INVALID IDENTITY";
        }
      },
      target: function() {
        try {
          let target = this.serverUrl;
          const token = target.split('//');
          console.log(token)
          return token[1];
        } catch(e) {
          return "INVALID TARGET";
        }
      }             
    },
    created () {
    },
    mounted () {
      //var a = new GenericNode("name");
      //console.log("test", GenericNode, a);
      this.addLog("System started");

      this.initializeSettings();
      this.initializeIdentity();
      this.initializeLogs();

      this.addLog("System initialized");
      this.startUpTime = moment();
      this.updateUptime();

    }

  }
</script>

<style scoped>
.zindex-repair{
    z-index:1;
}

.buttons-margin {
  margin: 4px;

}

.CodeMirror {
 /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 550px;
}

.DisplayBorder {
  border-radius: 30px; 
  background-color: rgb(149, 156, 179); 
  border: 5px solid #2e2e2e;
}
</style>
