<template>
  <v-container fluid>
    <v-row  dense>
      <v-col cols="12" md="12">
        <v-alert type="info" dense>
          This emulator run locally in your browser. The requests will send directly by your machine (ip) not from a server.
        </v-alert>
      </v-col>
    </v-row>
    <v-row  dense>
      <v-col cols="12" md="4">
        <v-card height="100%" grid-list-md>   
          <v-card-title>
            <h3>
              Actions
            </h3>
          </v-card-title>

          <v-subheader dense>Server</v-subheader>

          <v-row justify="center" dense>
            <v-col cols="10">
              <v-text-field dense label="Server url" suffix="/api/v1/nodes" placeholder="Server url" v-model="serverUrl"></v-text-field>
            </v-col>
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="6">
              <v-btn small width="100%" @click="selectLocalhost" >Use localhost</v-btn>
            </v-col>
          </v-row>

          <v-subheader>Node</v-subheader>

          <v-row justify="center" dense>
            <v-col cols="10">
              <v-text-field dense  small label="Fingerprint:" placeholder="Node fingerprint" v-model="nodeFingerprint"></v-text-field>
            </v-col>
            <v-col cols="10">
              <v-text-field dense label="Authentification:" placeholder="Authentification key" v-model="nodeAuthKey"></v-text-field>
            </v-col>
          </v-row>

          <IdentificationDialog v-model="identityRaw" :show.sync="showIdentificationDialog" />
          <v-row   align="center" dense>
            <v-col cols="1"/>               
            <v-col cols="10" lg="2">            
              <v-btn small width="100%" @click.stop="showIdentificationDialog=true">
                Identity
                </v-btn>
            </v-col>
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="1" class="hidden-md-and-up"/>               

            <v-col cols="10" lg="8" >                 
              <v-chip
                color="green"
                outlined
                pill
              >
                <v-icon >
                  check
                </v-icon>
                <div  class="ma-2" style="min-width: 280px; text-align: start; justify-content: center;"  >                
                  OK
                </div>
              </v-chip>
            </v-col>
            <!---
            <v-col justify="start" cols="2">
              <v-switch
                v-model="autoReplyIdentification"
                label="Autoreq." 
                disabled  
                small          
                hide-details
                color="indigo"
                style=" margin-top: 0px; font-size: 0.2em;"
              ></v-switch>
            </v-col>
            ---->
          </v-row>

          <SettingsDialog v-model="settingsRaw" :show.sync="showSettingsDialog" />
          <v-row   align="center" dense>
            <v-col cols="1"/>               
            <v-col cols="10" lg="2">            
              <v-btn small width="100%" @click.stop="showSettingsDialog=true">
                Settings
                </v-btn>
            </v-col>
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="10" lg="8" >            
              <v-chip
                color="green"
                outlined
                pill
              >
                <v-icon >
                  check
                </v-icon>
                <div  class="ma-2" style="min-width: 280px; text-align: start; justify-content: center;" >                
                  OK
                </div>
              </v-chip>
            </v-col>
            <!---
            <v-col cols="2">
              <v-switch
                v-model="autoReplySettings"
                label="Autoreq." 
                disabled  
                x-small          
                hide-details
                color="indigo"
                style=" margin-top: 0px;"
              ></v-switch>
            </v-col>
              --->                     
          </v-row>

          <LogDialog v-model="logsRaw" :show.sync="showLogDialog" />
          <v-row   align="center" dense>
            <v-col cols="1"/>               
            <v-col cols="10" lg="2">            
              <v-btn small width="100%" @click.stop="showLogDialog=true">
                Logs
                </v-btn>
            </v-col>
            <v-col cols="1" class="hidden-md-and-up"/>               
            <v-col cols="1" class="hidden-md-and-up"/>                
            <v-col cols="10" lg="8" >            
              <v-chip
                color="green"
                outlined
                pill
              >
                <v-icon >
                  check
                </v-icon>
                <div   class="ma-2" style="min-width: 280px; text-align: start; justify-content: center;"  >                
                  {{logcounter}} log entries
                </div>
              </v-chip>
            </v-col>
            <!---
            <v-col cols="2">
              <v-switch
                v-model="autoReplySettings"
                label="Autoresp."   
                x-small          
                hide-details
                color="indigo"
                style=" margin-top: 0px;"
              ></v-switch>
            </v-col>
            ---->  
          </v-row>


          <v-subheader>Generate requests</v-subheader>

          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" dark @click="getBasicRequest" >Empty request</v-btn>
            </v-col>
          </v-row>


          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" @click="getStartupRequest" dark>Register startup</v-btn>
            </v-col>
          </v-row>


          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" @click="getNodeUpdateRequest" dark>Node update</v-btn>
            </v-col>
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="10" lg="5">
              <v-btn color="primary" small width="100%"  @click="getSyncIdentificationRequest" dark>Sync. identification</v-btn>
            </v-col>
            <v-col cols="10" lg="5">
              <v-btn color="primary" small width="100%"  @click="getSyncSettingsRequest" dark>Sync. settings</v-btn>
            </v-col>
          </v-row>


          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" @click="getSyncLogsRequest" dark>Sync. log</v-btn>
            </v-col>
          </v-row>

        </v-card>
        <br/>
      </v-col>
      
      <v-col cols="12" md="4" >
        <v-card height="100%" >
          <v-card-title>
            <h3>
              Request
            </h3>
          </v-card-title>

          <v-row justify="center" dense>
            <v-col cols="12">
              <v-alert :type="lastRequestStatus" dense>
                Last request: {{lastRequestDate}} 
              </v-alert>
            </v-col>
          </v-row>    
          
          <Editor height="580px" lineNumbers v-model="request"></Editor>

          <v-row  justify="center" align="center" height="500px" dense>
            <v-col cols="8">
              <v-btn color="success" small width="100%" dark @click="sendRequest">Send request</v-btn>
            </v-col>
          </v-row>
      
        </v-card>
      </v-col>

      <NetworkLogDialog v-model="networkLogsRaw" :show.sync="showNetworkDialog" />
      <v-col cols="12" md="4">
        <v-card height="100%">
          <v-card-title>
            <h3>
              Response
            </h3>
          </v-card-title>
          <v-row justify="center" dense>
            <v-col cols="12">
              <v-alert :type="lastReplyStatus" dense>
                Last reply: {{lastReplyDate}}
              </v-alert>
            </v-col>
          </v-row>          

          <Editor height="580px" lineNumbers readOnly  v-model="reply"></Editor>

          <v-row  justify="center" align="center" height="500px" dense>
            <v-col cols="8">
              <v-btn color="primary" small width="100%" @clear="networkLogsRaw='';showNetworkDialog=false;" @click.stop="showNetworkDialog=true" dark>Network log</v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-col>      
    </v-row>

  </v-container>
</template>

<script>

  import Vue from 'vue';
  import { codemirror } from 'vue-codemirror';
  import { mapState } from 'vuex';
  import moment from 'moment';

  import Editor from '@/components/widgets/Editor'
  
  // import { GenericNode } from '@/nodes/generic'

  import axios from 'axios';
  import VueAxios from 'vue-axios';
  import * as actionBuilder from '@/generators/generic'
  
  import LogDialog from '~/components/dialogs/logDialog'
  import IdentificationDialog from '~/components/dialogs/identificationDialog'
  import SettingsDialog from '~/components/dialogs/settingsDialog'
  import NetworkLogDialog from '~/components/dialogs/networkLogDialog'


  Vue.use(VueAxios, axios); 


  export default {
    layout: "dashboard",
    components: {
      Editor,
      LogDialog,
      SettingsDialog,
      IdentificationDialog,
      NetworkLogDialog
    },
    data: () => ({
      request: "",
      reply: "",
      showLogDialog: false,
      showSettingsDialog: false,
      showIdentificationDialog: false,
      showNetworkDialog: false,
      identityRaw: "{\n}\n",
      settingsRaw: "{\n}\n",
      logsRaw: "[\n]",
      serverUrl: "https://roseguarden.fabba.space",
      lastRequestDate: "24-03-2020 09:57:10",
      lastRequestStatus: "info",
      lastReplyDate: "24-03-2020 09:57:10",
      startUpTime: null,
      lastReplyStatus: "info",
      nodeFingerprint: "43:51:43:A1:B5:FC:8B:B7:0A:3A:A9:B1:0F:66:73:A8:73:A8:19:B1",
      nodeAuthKey: "Kol-Bi-Hop-Ban-Gan-To-Sep+129",
      showInfo: false,
      errorCounter: 0,
      actionCounter: 0,
      uptime: 0,
      info: "The updater finished. Please reload the site.",
      route: 'abc',
      selectedTab: 'tab-1',
      log: 'Loading log ...',
      networkLogsRaw: '',
      pendingLog: '',
      autoReplyIdentification: true,
      autoReplySettings: true,
    }),
    methods: {
      updateUptime() {
        if(this.startUpTime !== null) {
            let now = moment();
            var duration = moment.duration(now.diff(this.startUpTime));
            this.uptime = parseInt(duration.asSeconds(), 10);
            console.log(this.uptime);
        }
      },
      getBasicRequest() {
        this.updateUptime();
        let a = new actionBuilder.BasicNodeActionRequest(this.nodeFingerprint, this.nodeAuthKey, this.actionCounter, this.logcounter, this.errorCounter, this.uptime, this.source, this.target);
        this.request =  a.dumps();
      },

      getStartupRequest() {
        this.startUpTime = moment();
        this.updateUptime();
        let a = new actionBuilder.RegisterNodeStartupActionRequest(this.nodeFingerprint, this.nodeAuthKey,  this.actionCounter, this.logcounter, this.errorCounter, this.uptime, this.source, this.target);
        this.request =  a.dumps();
      },
      getNodeUpdateRequest() {
        this.updateUptime();
        let a = new actionBuilder.RequestNodeUpdateActionRequest(this.nodeFingerprint, this.nodeAuthKey,  this.actionCounter, this.logcounter, this.errorCounter,  this.uptime, this.source, this.target);
        this.request =  a.dumps();
      },
      getSyncIdentificationRequest() {
        this.updateUptime();
        let a = new actionBuilder.SyncNodeIdentificationActionRequest(this.identityRaw, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorCounter, this.uptime, this.source, this.target);
        this.request =  a.dumps();
      },
      getSyncSettingsRequest() {
        this.updateUptime();
        let a = new actionBuilder.SyncNodeSettingsActionRequest(this.settingsRaw, this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorCounter, this.uptime, this.source, this.target);
        this.request =  a.dumps();
      },
      getSyncLogsRequest() {
        this.updateUptime();
        let a = new actionBuilder.SyncNodeLogActionRequest(this.logsRaw,this.nodeFingerprint, this.nodeAuthKey, this.actionCounter,  this.logcounter, this.errorCounter, this.uptime, this.source, this.target);
        this.request =  a.dumps();
      },
      selectLocalhost() {
        this.serverUrl = "http://127.0.0.1:5000";
      },
      addLog(log, type="INFO", time=null) {
        let logs = JSON.parse(this.logsRaw);
        let l = {};
        l.logid = this.logcounter+1;
        l.logtype = type;
        l.logmessage = log;
        l.logtime = moment().toISOString();
        logs.push(l);
        this.logsRaw = JSON.stringify(logs,null,2);
      },
      initializeSettings() {
        let settings = {};
        settings.updateInterval = 10
        this.settingsRaw = JSON.stringify(settings,null,2);
      },
      initializeIdentity() {
        let ident = {};
        ident.nodename = "Door 1";
        ident.classname = "Door";
        ident.classworkspace = "Access";
        ident.classid = "00:01:AB:EF:19:D8:00:11";
        ident.firmware_version = '0.1.2';
        ident.firmware_compiled_at = "2007-12-22T18:21:01";
        ident.firmware_flashed_at = "2007-12-24T11:31:02";
        ident.hardware_version = '0.1.0';

        this.identityRaw = JSON.stringify(ident,null,2);
      },      
      initializeLogs() {

      },      
      sendRequest() {
        return new Promise((resolve, reject) => {

          let options = {};
          let data= JSON.parse(this.request);

          let now = new Date();
          this.lastRequestDate = now.toISOString();
          this.lastRequestStatus = "info";
          this.actionCounter += data.actions.length;
          this.networkLogsRaw += "[NODEREQUEST] @ " + now.toISOString() + "\n" + this.request + "\n\n";
          axios
            .post(this.serverUrl + "/api/v1/nodes",  data, options)
            .then(r => r.data)
            .then(reply => {
              let now = new Date();
              this.lastReplyDate = now.toISOString();
              this.lastReplyStatus = "info";
              this.reply = JSON.stringify(reply,null,2);
              this.networkLogsRaw += "[SUCCEED]\n" + JSON.stringify(reply,null,2) + "\n\n";
            })
            .catch(error => {
              let now = new Date();
              this.lastReplyDate = now.toISOString();
              this.lastReplyStatus = "error";
              this.reply = "" + error + '\n   ' + error.response.data;
              this.networkLogsRaw += "[FAILED] \n   " + error + "\n\n";
              //reject(error);
            });
        });
      }
    },
    watch: {
      text: function (val) {
        console.log("watch", val);
      },
    },
    computed: {
      logcounter: function() {
        try {
          let json = JSON.parse(this.logsRaw);
          return json.length;
        } catch(e) {
          return "Failed to parse";
        }
      },
      source: function() {
        try {
          let json = JSON.parse(this.identityRaw);
          return json.nodename;
        } catch(e) {
          return "INVALID IDENTITY";
        }
      },
      target: function() {
        try {
          let target = this.serverUrl;
          const token = target.split('//');
          console.log(token)
          return token[1];
        } catch(e) {
          return "INVALID TARGET";
        }
      }             
    },
    created () {
    },
    mounted () {
      //var a = new GenericNode("name");
      //console.log("test", GenericNode, a);
      this.addLog("System started");

      this.initializeSettings();
      this.initializeIdentity();
      this.initializeLogs();

      this.addLog("System initialized");
      this.startUpTime = moment();
      this.updateUptime();

    }

  }
</script>

<style scoped>
.zindex-repair{
    z-index:1;
}

.buttons-margin {
  margin: 4px;

}

.CodeMirror {
 /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 550px;
}
</style>
