<template>
  <v-container fluid>
    <v-row  dense>
      <v-col cols="12" md="12">
        <v-alert type="info" dense>
          This emulator run locally in your browser. The requests will send directly by your machine (ip) not from a server.
        </v-alert>
      </v-col>
    </v-row>
    <v-row  dense>
      <v-col cols="12" md="3">
        <v-card height="100%" grid-list-md>   
          <v-card-title>
            <h3>
              Actions
            </h3>
          </v-card-title>

          <v-subheader>Generate requests</v-subheader>

          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" dark>Basic</v-btn>
            </v-col>
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" dark>Heartbeat</v-btn>
            </v-col>
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="5">
              <v-btn color="primary" small width="100%" dark>Authentification</v-btn>
            </v-col>
            <v-col cols="5">
              <v-btn color="primary" small width="100%" dark>Card info</v-btn>
            </v-col>            
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="primary" small width="100%" dark>Identify user</v-btn>
            </v-col>
          </v-row>

          <v-subheader dense>Send</v-subheader>

          <v-row justify="center" dense>
            <v-col cols="10">
              <v-text-field dense label="Server url" placeholder="Server url" v-model="serverUrl"></v-text-field>
            </v-col>
          </v-row>

          <v-row  justify="center" dense>
            <v-col cols="10">
              <v-btn color="success" small width="100%" dark>Action request</v-btn>
            </v-col>
          </v-row>

          <v-row justify="center" dense>
            <v-col cols="5">
              <v-btn color="success" small width="100%" dark>Start heartbeat</v-btn>
            </v-col>
            <v-col cols="5">
              <v-btn color="error" small width="100%" dark>Stop heartbeat</v-btn>
            </v-col>
          </v-row>

          <v-row justify="center" dense>
            <v-col cols="10">
            <v-text-field label="Heartbeat interval" placeholder="Heartbeat interval" suffix="seconds" ></v-text-field>
            </v-col>
          </v-row>

          <v-row justify="center" dense>
            <v-col cols="11">
              <v-alert type="info" dense>
                Last request: {{lastSendDate}}
              </v-alert>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="12" md="3" >
        <v-card height="100%">
          <v-card-title>
            <h3>
              Generator properties
            </h3>
          </v-card-title>
        </v-card>
      </v-col>         
      <v-col cols="12" md="3" >
        <v-card >
          <v-card-title>
            <h3>
              Request
            </h3>
          </v-card-title>

          <Editor height="600px" v-model="text"></Editor>
        </v-card>
      </v-col>
      <v-col cols="12" md="3">
        <v-card >
          <v-card-title>
            <h3>
              Response
            </h3>
          </v-card-title>

          <Editor height="600px" readOnly></Editor>
        </v-card>
      </v-col>      
    </v-row>

  </v-container>
</template>

<script>

  import Vue from 'vue';
  import { codemirror } from 'vue-codemirror';
  import { mapState } from 'vuex';

  import Editor from '@/components/widgets/Editor'
  
  // import { GenericNode } from '@/nodes/generic'

  import axios from 'axios';
  import VueAxios from 'vue-axios';

  Vue.use(VueAxios, axios);


  export default {
    layout: "dashboard",
    components: {
      Editor
    },
    data: () => ({
      text: "jkljlkkjk",
      serverUrl: "https://roseguarden.fabba.space",
      lastSendDate: "24-03-2020 09:57:10",
      showInfo: false,
      info: "The updater finished. Please reload the site.",
      route: 'abc',
      selectedTab: 'tab-1',
      log: 'Loading log ...',
      pendingLog: '',
      cmOptions: {
        // codemirror options
        tabSize: 4,
        mode: 'text/javascript',
        theme: 'material',
        height: "600",
        readOnly: false,
        lineNumbers: true,
        line: true,
        mode: "log"       
      }
    }),
    methods: {

    },
    watch: {
      text: function (val) {
        console.log("watch", val);
      },
    },
    computed: {

    },
    created () {
    },
    mounted () {
      //var a = new GenericNode("name");
      //console.log("test", GenericNode, a);
    }

  }
</script>

<style scoped>
.zindex-repair{
    z-index:1;
}

.buttons-margin {
  margin: 4px;

}

.CodeMirror {
 /* Set height, width, borders, and global font properties here */
    font-family: monospace;
    height: 600px;
}
</style>
