<template>
  <v-container justify="center" align="center"  fluid>
   <div style="height: 10px;">

    </div>
    <h1 class="dark white--text" justify="center" align="center"   style="height: 90px;">
      Roseguarden
    </h1>
    <div v-html="titleValue" class="dark white--text display-2" justify="center" align="center">
    </div>
    <div v-html="messageValue" class="dark white--text headline" justify="center" align="center">
    </div>

    <v-row align="center" justify="center">    
        <v-btn rounded x-large class="ma-5" width="60%" v-on:click="ok" ><h1>OK</h1></v-btn>
    </v-row>
    <div style="height: 1px;">

    </div>
    <div style="height: 1px;">

    </div>
  </v-container>          
</template>

<script>


import Editor from '@/components/widgets/Editor'

export default {
  props: {
     value: {
       default: ""
     },
     title: {
        default: "Welcome"
     },     
     message: {
        default: "John Doe"
     },     
  },
  data: () => ({
    alert: false,
    errorText: ""
  }),  
  components: {
    Editor,
  },
  computed: {
    messageValue: {
      get () {    
        return this.message;
      },
      set (value) {
        this.$emit('update:message', value)         
      }      
    },
    titleValue: {
      get () {    
        return this.title;
      },
      set (value) {
        this.$emit('update:title', value)         
      }      
    },    
  },  
  methods: {
    ok () {
        this.$emit('ok');      
    }
  },
  watch: {
    show(newValue) {

    }
  },
  mounted () {
  }  
}
</script>
