<template>
  <v-container justify="center" align="center"  fluid>
    <div style="height: 10px;">

    </div>
    <h1 class="dark white--text" justify="center" align="center"   style="height: 110px;">
      Welcome John Doe
    </h1>
    <div class="dark white--text display-2" justify="center" align="center"   style="height: 50px;">
      {{pinHidden}}
    </div>
    <v-row align="center" justify="center">    
        <v-btn large class="ma-2" v-on:click="pinInput('1')" fab ><h1>1</h1></v-btn>
        <v-btn large class="ma-2" v-on:click="pinInput('2')" fab ><h1>2</h1></v-btn>
        <v-btn large class="ma-2" v-on:click="pinInput('3')" fab ><h1>3</h1></v-btn>
    </v-row>
    <v-row align="center" justify="center">    
        <v-btn large class="ma-2" v-on:click="pinInput('4')" fab ><h1>4</h1></v-btn>
        <v-btn large class="ma-2" v-on:click="pinInput('5')" fab ><h1>5</h1></v-btn>
        <v-btn large class="ma-2" v-on:click="pinInput('6')" fab ><h1>6</h1></v-btn>
    </v-row>
    <v-row align="center" justify="center">    
        <v-btn large class="ma-2" v-on:click="pinInput('7')" fab ><h1>7</h1></v-btn>
        <v-btn large class="ma-2" v-on:click="pinInput('8')" fab ><h1>8</h1></v-btn>
        <v-btn large class="ma-2" v-on:click="pinInput('9')" fab ><h1>9</h1></v-btn>
    </v-row>
    <v-row align="center" justify="center">    
        <v-btn large class="ma-3" v-on:click="pinInput('0')" fab ><h1>0</h1></v-btn>
    </v-row>
    <div style="height: 5px;">

    </div>
    <v-row align="center" justify="center">    
        <v-btn class="ma-2" v-on:click="cancel" width="40%"><h2>Cancel</h2></v-btn>
        <v-btn  class="ma-2" v-on:click="clear" width="40%"><h2>Clear</h2></v-btn>
    </v-row>
  </v-container>          
</template>

<script>


import Editor from '@/components/widgets/Editor'

export default {
  props: {
     value: {
       default: ""
     },
     pin: {
        default: ""
     },     
     identificaton: String,
  },
  data: () => ({
    alert: false,
    errorText: "",
  }),  
  components: {
    Editor,
  },
  computed: {
    pinValue: {
      get () {    
        return this.pin
      },
      set (value) {
        this.$emit('update:pin', value);
      }      
    },
    pinHidden () {
        let out = "";
        for (var i = 0; i < this.pinValue.length; i++) {
          out += "* ";
        }
        return out;
    }

  },  
  methods: {
    pinInput(chr) {
      this.pinValue += chr;
      console.log("aaaa", chr);
    },
    clear() {
      this.pinValue = "";
    },
    cancel() {
        this.$emit('cancel');         
    }
  },
  watch: {
    show(newValue) {

    }
  },
  mounted () {
  }  
}
</script>
