<template>
  <v-container justify="center" align="center"  fluid>
   <div style="height: 10px;">

    </div>
    <h1 class="dark white--text" justify="center" align="center"   style="height: 90px;">
      Roseguarden
    </h1>
    <div class="dark white--text display-2" justify="center" align="center" style="height: 80px;">
      Welcome
    </div>

    <v-row align="center" justify="center">    
        <v-btn rounded x-large class="ma-5" v-on:click="requestUnlock" :color="(requestValue === 'unlock') ? 'red' : ''" width="80%"><h2>Unlock</h2></v-btn>
    </v-row>
    <v-row align="center" justify="center">    
        <v-btn rounded x-large class="ma-5" v-on:click="requestUserInfo" :color="(requestValue === 'userinfo') ? 'red' : ''" width="80%" ><h2>User info</h2></v-btn>
    </v-row>
    <v-row align="center" justify="center">    
        <v-btn rounded x-large class="ma-5" v-on:click="requestCardAssign" :color="(requestValue === 'cardassign') ? 'red' : ''" width="80%" ><h2>Assign card</h2></v-btn>
    </v-row>
    <div style="height: 25px;">
    </div>
    <v-row align="center" justify="center">
      <v-chip pill dark x-large fab>
        <v-icon v-if="connectionStatus === 'ok'" color="light-green" dark size="50px">
          mdi-sync
        </v-icon>
        <v-icon v-if="connectionStatus === 'fail'" color="orange" dark size="50px">
          mdi-sync-off
        </v-icon>
        <v-icon v-if="connectionStatus === 'no'" color="red" dark size="50px">
          mdi-sync-off
        </v-icon>
      </v-chip>

    </v-row>

  </v-container>          
</template>

<script>


import Editor from '@/components/widgets/Editor'

export default {
  props: {
     value: {
       default: ""
     },
     request: {
        default: "unlock"
     },
     connectionStatus: {
       default: "no",
     },
     identificaton: String,
  },
  data: () => ({
    alert: false,
    errorText: ""
  }),  
  components: {
    Editor,
  },
  computed: {
    requestValue: {
      get () {    
        return this.request
      },
      set (value) {
        console.log(value);
        this.$emit('update:request', value)         
      }      
    },
  },  
  methods: {
    requestUnlock() {
      this.requestValue = "unlock";
    },
    requestUserInfo() {
      this.requestValue = "userinfo";
    },
    requestCardAssign() {
      this.requestValue = "cardassign";
    }
  },
  watch: {
    show(newValue) {

    }
  },
  mounted () {
  }  
}
</script>
