<template>
  <v-container justify="center" align="center"  fluid>

  </v-container>          
</template>

<script>


import Editor from '@/components/widgets/Editor'

export default {
  props: {
     value: {
       default: ""
     },
     pin: {
        default: ""
     },     
     identificaton: String,
  },
  data: () => ({
    alert: false,
    errorText: ""
  }),  
  components: {
    Editor,
  },
  computed: {
    pinValue: {
      get () {    
        return this.pin
      },
      set (value) {
        this.$emit('update:show', value)         
      }      
    },
  },  
  methods: {
  },
  watch: {
    show(newValue) {

    }
  },
  mounted () {
  }  
}
</script>
